main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#content {
  display: flex;
  flex-direction: column;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

#completedTaskList .content {
  color: grey;
  text-decoration: line-through;
}
